terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
.terraform/
providers.tf


# Self-hosted GitHub Actions runner files — do NOT commit
/actions-runner/
actions-runner/_work/
actions-runner/_diag/
actions-runner/.credentials
*.service
*.token
*.runner
